Name = Maarij Irfan
Question 1
part 1:

In [33]:
fir_name = str(input('Enter your first name ='))
sec_name = str(input('Enter your second name ='))
length1 = len(fir_name)
length2 = len(sec_name)
print('Is first name length greater than the second :',length1>length2)
print('Is first name length smaller than the second :',length1<length2)
print('Is first name length equal to the second :',length1==length2)
print('Is first name length greater than or equal to the second :',length1>=length2)
print('Is first name length less than or equal to the second :',length1<=length2)
print('Is first name length not equal to the second :',length1!=length2)

Enter your first name = maarij
Enter your second name = irfan

Is first name length greater than the second : True
Is first name length smaller than the second : False
Is first name length equal to the second : False
Is first name length greater than or equal to the second : True
Is first name length less than or equal to the second : False
Is first name length not equal to the second : True

part 2:

In [3]:
length1 = len(fir_name)
length2 = len(sec_name)
print('Length of your first name is =',length1)

Length of your first name is = 6

Question 2
part 1:

In [5]:
num1 = 5
num2 = 4
total = num1+num2
print('Sum is:',total)

Sum is: 9

Part 2:

In [7]:
diff = num1-num2
print('Subtraction of num2 from num1 is:',diff)

Subtraction of num2 from num1 is: 1

Part 3:

In [9]:
product = num1*num2
print('Product of num1 and num2 is:',product)

Product of num1 and num2 is: 20

Part 4:

In [11]:
div = num1/num2
print('Dividing num_one by num_two is:',div)

Dividing num_one by num_two is: 1.25

Part 5:

In [35]:
remainder = num2%num1
print('modulus division num_two divided by num_one:',remainder)

modulus division num_two divided by num_one: 4

Part 6:

In [15]:
exp = num1**num2
print('num1 to the power of num2',exp)

num1 to the power of num2 625

Part 7:

In [17]:
floor_division = num1//num2
print('floor division of num_one by num_two:',floor_division)

floor division of num_one by num_two: 1

Question 3:
Part 1:

In [19]:
rad = 30
print('Radius is:',rad)

Radius is: 30

Part 2:

In [21]:
pi = 3.1416
area_of_circle = pi*(rad**2)
print('Area is :',area_of_circle,'sq.meters')

Area is : 2827.44 sq.meters

Part 3:

In [23]:
cir = 2*pi*rad
print('Circumference is :',cir,'meters')

Circumference is : 188.496 meters

Part 4:

In [25]:
radius = float(input('Enter radius'))
area = pi*(radius**2)
print('Area for input is:',area,'sq.meters')

Enter radius 12

Area for input is: 452.3904 sq.meters

Question 4:

In [1]:
ice_bag = 1.25
profit = 20/100
total_bags = 500
profit_per_bag = ice_bag*profit
print('Profit per bag is:',profit_per_bag)
profit_total = profit_per_bag*total_bags
print('Total profit of 500 bags is:',profit_total)

Profit per bag is: 0.25
Total profit of 500 bags is: 125.0

Question 5:

In [3]:
cost_to_fly = 5000
people_signed = 29
charge_per_person = 200
earned_by_persons = people_signed*charge_per_person
print('Earned by persons =',earned_by_persons)
profit = earned_by_persons-cost_to_fly
print('Profit earned by airline =',profit)

Earned by persons = 5800
Profit earned by airline = 800