In [115]:
# [Maarij Irfan] assignment
#1
emp_list = []
type(emp_list)

list

In [3]:
#2
my_list = ['Stove','Plate','Spoon','Bowl','Cup','Glass','Fork']
print(my_list)
#3
print('Length is',len(my_list))

['Stove', 'Plate', 'Spoon', 'Bowl', 'Cup', 'Glass', 'Fork']
Length is 7

In [4]:
#4
print('first,middle and last are',my_list[0::3])

first,middle and last are ['Stove', 'Bowl', 'Fork']

In [5]:
#5
mixed_data_types = ['Maarij',24,'5.9 feet','Single','Karachi']
print('mixed data types are:',mixed_data_types)

mixed data types are: ['Maarij', 24, '5.9 feet', 'Single', 'Karachi']

In [9]:
#6
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print('companies are',it_companies)
print('Length is',len(it_companies))

companies are ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Length is 7

In [11]:
#7
print('all it_companies are:',it_companies)
print('first,middle and the last :',it_companies[0::3])

all it_companies are: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
first,middle and the last : ['Facebook', 'Apple', 'Amazon']

In [13]:
#8
it_companies[2] = 'Windows'
print('modified list of companies is :',it_companies)

modified list of companies is : ['Facebook', 'Google', 'Windows', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [15]:
#9
print('all it_companies are:',it_companies)
it_companies.append('Shopify')
print('Appending a company:',it_companies)

all it_companies are: ['Facebook', 'Google', 'Windows', 'Apple', 'IBM', 'Oracle', 'Amazon']
Appending a company: ['Facebook', 'Google', 'Windows', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Shopify']

In [17]:
#10
print('all it_companies are:',it_companies)
it_companies.insert(4,'Twitter')
print('After inserting one:',it_companies)

all it_companies are: ['Facebook', 'Google', 'Windows', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Shopify']
After inserting one: ['Facebook', 'Google', 'Windows', 'Apple', 'Twitter', 'IBM', 'Oracle', 'Amazon', 'Shopify']

In [19]:
#11
print('all it_companies are:',it_companies)
it_companies[3] = it_companies[3].upper()
print('List after uppercase applying on Apple:',it_companies)

all it_companies are: ['Facebook', 'Google', 'Windows', 'Apple', 'Twitter', 'IBM', 'Oracle', 'Amazon', 'Shopify']
List after uppercase applying on Apple: ['Facebook', 'Google', 'Windows', 'APPLE', 'Twitter', 'IBM', 'Oracle', 'Amazon', 'Shopify']

In [21]:
#12
print('all it_companies are:',it_companies)
it_companies.sort()
print('Sorted it_companies list:',it_companies)

all it_companies are: ['Facebook', 'Google', 'Windows', 'APPLE', 'Twitter', 'IBM', 'Oracle', 'Amazon', 'Shopify']
Sorted it_companies list: ['APPLE', 'Amazon', 'Facebook', 'Google', 'IBM', 'Oracle', 'Shopify', 'Twitter', 'Windows']

In [23]:
#13
print('all it_companies are:',it_companies)
it_companies.reverse()
print('Reversing it_companies List:',it_companies)

all it_companies are: ['APPLE', 'Amazon', 'Facebook', 'Google', 'IBM', 'Oracle', 'Shopify', 'Twitter', 'Windows']
Reversing it_companies List: ['Windows', 'Twitter', 'Shopify', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']

In [25]:
#14
print('all it_companies are:',it_companies)
first_three = it_companies[:3]
print('Slicing out first three companies:',first_three)

all it_companies are: ['Windows', 'Twitter', 'Shopify', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']
Slicing out first three companies: ['Windows', 'Twitter', 'Shopify']

In [27]:
#15
print('all it_companies are:',it_companies)
last_three = it_companies[-3::]
print('Slicing out last three companies:',last_three)

all it_companies are: ['Windows', 'Twitter', 'Shopify', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']
Slicing out last three companies: ['Facebook', 'Amazon', 'APPLE']

In [29]:
#16
print('all it_companies are:',it_companies)
middle_index= len(it_companies)//2
print('miidle index is :',middle_index)
print('slicing out the middle it_company:',it_companies[4:5])

all it_companies are: ['Windows', 'Twitter', 'Shopify', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']
miidle index is : 4
slicing out the middle it_company: ['IBM']

In [31]:
#17
print('all it_companies are:',it_companies)
it_companies.pop(0)
print('After removing first company:',it_companies)

all it_companies are: ['Windows', 'Twitter', 'Shopify', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']
After removing first company: ['Twitter', 'Shopify', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']

In [33]:
#18
print('all it_companies are:',it_companies)
it_companies.pop(3)
it_companies.pop(4)
print('After removing middle companies:',it_companies)

all it_companies are: ['Twitter', 'Shopify', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']
After removing middle companies: ['Twitter', 'Shopify', 'Oracle', 'Google', 'Amazon', 'APPLE']

In [35]:
#19
print('all it_companies are:',it_companies)
it_companies.pop(-1)
print('After removing last:',it_companies)

all it_companies are: ['Twitter', 'Shopify', 'Oracle', 'Google', 'Amazon', 'APPLE']
After removing last: ['Twitter', 'Shopify', 'Oracle', 'Google', 'Amazon']

In [37]:
#20
print('all it_companies are:',it_companies)
it_companies.clear()
print('After clearing all',it_companies)

all it_companies are: ['Twitter', 'Shopify', 'Oracle', 'Google', 'Amazon']
After clearing all []

In [39]:
#21
print('all it_companies are:',it_companies)
del it_companies
print(it_companies)

all it_companies are: []

NameError: name 'it_companies' is not defined

In [40]:
#22 Join the following lists:
#23 
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joined_list = front_end+back_end
print(joined_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [43]:
#24
full_stack=joined_list.copy()
print(full_stack)
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [45]:
#25
#26
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [47]:
#27
ages.sort()
print(ages)
print(min(ages))
print(max(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [49]:
#28
ages.append(min(ages))
ages.append(max(ages))
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [51]:
ages.sort()
print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [53]:
#29
med_index = len(ages)/2
print(med_index)
median_age = (ages[5]+ages[6])/2
print(median_age)

6.0
24.0

In [55]:
#30
avg_age = sum(ages)/len(ages)
print(avg_age)

22.75

In [57]:
#31
range =  max(ages)-min(ages)
print(range)

7

In [59]:
#32
min_diff = abs(min(ages) - avg_age)
max_diff = abs(max(ages) - avg_age)
print(min_diff)
print(max_diff)

3.75
3.25

In [61]:
#33
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
middle_index = len(countries)/2
print(middle_index)

3.5

In [63]:
#34
first_half = countries[:4]
second_half = countries[4:]
print(first_half)
print(second_half)

['China', 'Russia', 'USA', 'Finland']
['Sweden', 'Norway', 'Denmark']

In [65]:
#35
fir_one,sec_one,third_one,*scandic_countries = countries
print(fir_one)
print(sec_one)
print(third_one)
print(scandic_countries)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

In [67]:
#tuple
#1
emp_tuple = ()
print(type(emp_tuple))

<class 'tuple'>

In [69]:
#2
sisters = ('Maryam','Ayesha','Zainab')
brothers = ('Hamza','Ahmad')
#3
siblings = sisters+brothers
print(siblings)

('Maryam', 'Ayesha', 'Zainab', 'Hamza', 'Ahmad')

In [71]:
#4
print('Siblings i have:',len(siblings))

Siblings i have: 5

In [73]:
#5
family_members = siblings+('Rabia','Irfan')
print(family_members)

('Maryam', 'Ayesha', 'Zainab', 'Hamza', 'Ahmad', 'Rabia', 'Irfan')

In [75]:
#6
*sibling,mother,father = family_members
print(sibling)
print(mother)
print(father)

['Maryam', 'Ayesha', 'Zainab', 'Hamza', 'Ahmad']
Rabia
Irfan

In [77]:
#7
fruits = ("apple", "orange", "grape")
vegetables = ("tomato", "potato", "carrot")
animal_products = ("milk", "egg", "butter")
food_stuff_tp = fruits+vegetables+animal_products
print(food_stuff_tp)

('apple', 'orange', 'grape', 'tomato', 'potato', 'carrot', 'milk', 'egg', 'butter')

In [79]:
#8
food_stuff_li=list(food_stuff_tp)
print(type(food_stuff_li))
#9
mid_index = len(food_stuff_li)/2
print(mid_index)
print('middle item is:',food_stuff_li[4])
#10
print('first three items are:',food_stuff_li[:3])
print('last three items are:',food_stuff_li[-3:])

<class 'list'>
4.5
middle item is: potato
first three items are: ['apple', 'orange', 'grape']
last three items are: ['milk', 'egg', 'butter']

In [81]:
#11
del food_stuff_tp
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

In [83]:
#sets
#1
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle','Amazon'}
print(len(it_companies))

7

In [85]:
#2
it_companies.add('Twitter')
print(it_companies)

{'Oracle', 'Google', 'Apple', 'Facebook', 'Twitter', 'Microsoft', 'Amazon', 'IBM'}

In [87]:
#3
it_companies.update(['Meta','SpaceX','Ebay'])
print(it_companies)

{'Google', 'Oracle', 'Twitter', 'Apple', 'Microsoft', 'Amazon', 'IBM', 'SpaceX', 'Meta', 'Facebook', 'Ebay'}

In [89]:
#4
it_companies.remove('Ebay')
print(it_companies)

{'Google', 'Oracle', 'Twitter', 'Apple', 'Microsoft', 'Amazon', 'IBM', 'SpaceX', 'Meta', 'Facebook'}

In [91]:
#5 remove gives key error whenever the element is not in the set as you can see
it_companies.remove('Instagram')

KeyError: 'Instagram'

In [93]:
# now see the discard does not give any error if element is not found
it_companies.discard('Insta')

In [95]:
#6
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A|B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [97]:
#7
print(A&B)

{19, 20, 22, 24, 25, 26}

In [99]:
#8
print('Is A subset of B:',A.issubset(B))

Is A subset of B: True

In [101]:
#9
print('Are A and B disjoint:',A.isdisjoint(B))

Are A and B disjoint: False

In [103]:
#10
print(A|B)
print(B|A)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [105]:
#11
print(A^B)
print(B^A)

{27, 28}
{27, 28}

In [107]:
#12
del A
del B
#print(A)
#print(B)

In [109]:
#13 Set rmoves the duplicates , that's why length of set becomes less while list can contain duplicates
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(age)
age_set=set(age)
print(type(age))
print(type(age_set))
print(age)
print(age_set)
print(len(age))
print(len(age_set))
print('set length is bigger than list:',len(age_set)>len(age))
print('list length is bigger than set:',len(age)>len(age_set))

[22, 19, 24, 25, 26, 24, 25, 24]
<class 'list'>
<class 'set'>
[22, 19, 24, 25, 26, 24, 25, 24]
{19, 22, 24, 25, 26}
8
5
set length is bigger than list: False
list length is bigger than set: True

In [111]:
#14
#String:A sequence of characters enclosed within single, double quotes,allows duplicate characters in quotes
#List:An ordered collection of items that can havd elements of different data types.Lists are defined using square brackets [], these can be edited as are mutable
#Tuple:An ordered collection of items, similar to a list, but defined using parentheses ().These are immutable
#Sets:An unordered collection of unique items, defined using curly braces {}.These are mutable itself and allow only immutable items as elemennts.