In [5]:
# for loop
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [11]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [13]:
fruits = ['kiwi','Apple','Banana']
for num in fruits:
    print(num)

kiwi
Apple
Banana

In [15]:
name = 'Maarij'
for num in name:
    print(num)

M
a
a
r
i
j

In [23]:
ids = {'name':'Maarij','class':'PGD','age':24,'interest':'AI'}
for num in ids.items():
    print(num)

('name', 'Maarij')
('class', 'PGD')
('age', 24)
('interest', 'AI')

In [25]:
ids = {'name':'Maarij','class':'PGD','age':24,'interest':'AI'}
for num in ids.keys():
    print(num)

name
class
age
interest

In [29]:
ids = {'name':'Maarij','class':'PGD','age':24,'interest':'AI'}
for num in ids:
    print(num,ids[num])

name Maarij
class PGD
age 24
interest AI

In [3]:
pop = 10000
pop_inc = 10000*.10

for inc in range(0,10):
    pop = pop+pop_inc
    print('Year:',inc,pop)

Year: 0 11000.0
Year: 1 12000.0
Year: 2 13000.0
Year: 3 14000.0
Year: 4 15000.0
Year: 5 16000.0
Year: 6 17000.0
Year: 7 18000.0
Year: 8 19000.0
Year: 9 20000.0

In [4]:
pop = 10000
pop_inc = .10

for inc in range(10,0,-1):
    pop+=pop*pop_inc
    print('Year:',inc,pop)

Year: 10 11000.0
Year: 9 12100.0
Year: 8 13310.0
Year: 7 14641.0
Year: 6 16105.1
Year: 5 17715.61
Year: 4 19487.171000000002
Year: 3 21435.888100000004
Year: 2 23579.476910000005
Year: 1 25937.424601000006

In [7]:
#nested loop

In [5]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [21]:
# pattern1
#*
#**
#***
#****
rows = int(input('Enter no of rows for pattern:'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter no of rows for pattern: 8

*
**
***
****
*****
******
*******
********

In [29]:
# in reverse order
rows = int(input('Enter no of rows for pattern:'))
for i in range(rows,0,-1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter no of rows for pattern: 8

********
*******
******
*****
****
***
**
*

In [12]:
rows = int(input('Enter no of rows for pattern:'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter no of rows for pattern: 5

1
12
123
1234
12345

In [14]:
rows = int(input('Enter no of rows for pattern:'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

Enter no of rows for pattern: 5

1
121
12321
1234321
123454321

In [16]:
mix = ['Mango','Goat','Maarij',4]
for item in mix:
    print(item)

Mango
Goat
Maarij
4