In [4]:
#Maarij Irfan
#mcq1 : ans = b)5
#mcq2 : ans = b)tuples can contain duplicate elements
#mcq3 : ans = b)4
#mcq4 : ans = b)Hello
#mcq5 : ans = none
#mcq6 : ans = c){1,2,3,4,5}
#Q6: Mutable data types allow modification of their contents after they have been created.
#You can add, remove, or modify elements within a mutable data type without creating a new instance.
# Lists, dictionaries, sets
#Immutable data types do not allow modification once created. 
#Any operation that changes the data will create a new instance rather than modifying the existing one.
#like tuples
my = [1,2,3,4]
my.append([5,6])
print(my)

[1, 2, 3, 4, [5, 6]]

In [15]:
# Initial list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Step 1:
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [17]:
min_age = ages[0]
max_age = ages[-1]

In [19]:
print(min_age)
print(max_age)

19
26

In [21]:
ages.extend([min_age,max_age])
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [23]:
ages.sort()

In [25]:
print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [59]:
median_ages = ages[5:7]
print(median_ages)
med_age = (ages[5]+ages[6])/2
print(med_age)

[24, 24]
24.0

In [35]:
med = (24+24)/2
print('median age is:',med )

median age is: 24.0

In [37]:
avg_age = sum(ages) / len(ages)

In [39]:
print(avg_age)

22.75

In [41]:
age_range = max_age - min_age
print("Age range:", age_range)

Age range: 7

In [43]:
#2
empty_tuple = ()

In [45]:
sisters = ("Ayesha", "Maryam")
brothers = ("Ahmad", "Ali")

In [47]:
siblings = brothers + sisters
print("Siblings:", siblings)

Siblings: ('Ahmad', 'Ali', 'Ayesha', 'Maryam')

In [49]:
number_of_siblings = len(siblings)
print("Number of siblings:", number_of_siblings)

Number of siblings: 4

In [51]:
father = "Irfan"
mother = "Shazia"
family_members = siblings + (father, mother)
print("Family members:", family_members)

Family members: ('Ahmad', 'Ali', 'Ayesha', 'Maryam', 'Irfan', 'Shazia')

In [53]:
siblings, father, mother = family_members[:-2], family_members[-2], family_members[-1]
print("Unpacked siblings:", siblings)
print("Father:", father)
print("Mother:", mother)

Unpacked siblings: ('Ahmad', 'Ali', 'Ayesha', 'Maryam')
Father: Irfan
Mother: Shazia