In [1]:
#set itself is mutable, unordered, and unique with no duplicates, cannot obbtain mutable datatypes and elements
# {} represented

In [2]:
name = {}
type(name)

dict

In [3]:
# if we keep something in curly brackets it becomes set if empty then dictionary

In [4]:
s = set()
type(s)

set

In [5]:
m = {5,3,3,4}
print(m)

{3, 4, 5}

In [6]:
# set itself is mutable but its element cant be mutable like list can not be its element and tuple which is immutable can be its element

In [7]:
n = {1,2,3,4,[5,6,7]}
print(n)

TypeError: unhashable type: 'list'

In [3]:
b = {1,2,3,4,(5,6,7)}
print(b)

{(5, 6, 7), 1, 2, 3, 4}

In [ ]:
# 0 and 1 are considered as true annd false thats why skips 0 or 1 in case false or true are in set because repetition is not allowed

In [ ]:
i = {1,2,'Maarij',1.8,True}
print(i)

In [2]:
i = {1,2,'Maarij',1.8,False}
print(i)

{False, 1, 2, 1.8, 'Maarij'}

In [ ]:
fruit = set(['Kiwi','Mango','Banana','Apple'])
print(fruit)
print(type(fruit))

In [ ]:
# because set is unordered so order doesn't matter

In [ ]:
s1 = {1,2,3,4}
s2 = {4,3,2,1}
s1 == s2

In [4]:
s1 = {1,2,3,4}
s2 = {5,4,3,2,1}
s1 == s2

False

In [ ]:
# Accessing elements, we can not access the elements through index method because set is not ordered and  indexing is not going to happen in set
print(s1)

In [11]:
print(s1[0])

TypeError: 'set' object is not subscriptable

In [13]:
print(s1)

{1, 2, 3, 4}

In [15]:
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [ ]:
# we cannot add multiple items through add

In [17]:
s1.add(6,7)
print(s1)

TypeError: set.add() takes exactly one argument (2 given)

In [ ]:
# to add multiple items we use update

In [ ]:
# structure remains the same because it does nt takes mutable items , it transformed that list into set

In [19]:
s1.update([6,7,8,9])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
s3 = {'Irfan','Umair','Ahmad','Ali'}
print(s3)

{'Irfan', 'Ali', 'Umair', 'Ahmad'}

In [ ]:
type(s3)

In [23]:
s3.add('Aslam')
print(s3)

{'Irfan', 'Ahmad', 'Umair', 'Aslam', 'Ali'}

In [ ]:
# because in string update case set takes every alphapet of string as single value

In [25]:
s3.update(('Aijaz'))
print(s3)

{'Irfan', 'a', 'Ahmad', 'z', 'A', 'Umair', 'i', 'Aslam', 'j', 'Ali'}

In [27]:
s3.update({'Makwal'})
print(s3)

{'Irfan', 'a', 'Ahmad', 'z', 'Makwal', 'A', 'Umair', 'i', 'Aslam', 'j', 'Ali'}

In [ ]:
# pop removes the first because no indexing, sometimes del random
# remove and discard act same. pop is not much used because of random deletion

In [29]:
s3.pop()
print(s3)

{'a', 'Ahmad', 'z', 'Makwal', 'A', 'Umair', 'i', 'Aslam', 'j', 'Ali'}

In [31]:
s3.remove('Ahmad')

In [5]:
print(s3)

NameError: name 's3' is not defined

In [33]:
s3.discard('Aslam')
print(s3)

{'a', 'z', 'Makwal', 'A', 'Umair', 'i', 'j', 'Ali'}

In [35]:
del s3[2]
print(s3)

TypeError: 'set' object doesn't support item deletion

In [37]:
s3.clear()
print(s3)

set()

In [18]:
# operation in set
# union (|) pipe is symbol
s3 = {2,3,4,5,6}
s4 = {3,4,5,10,12,13}
print(s3|s4)

{2, 3, 4, 5, 6, 10, 12, 13}

In [20]:
# intersection
# symbol (&)
s3 = {2,3,4,5,6}
s4 = {3,4,5,10,12,13}
print(s3&s4)

{3, 4, 5}

In [22]:
# difference , first set remaining elements remain in output
# symbol (-)
s3-s4

{2, 6}

In [24]:
s4-s3

{10, 12, 13}

In [26]:
# symmetric difference (^) common elements of both are deleted and remaining of both elements are output
s3^s4

{2, 6, 10, 12, 13}

In [28]:
s4^s3

{2, 6, 10, 12, 13}

In [30]:
s3.remove(45)

KeyError: 45

In [40]:
# len/sum/min/max/rev
s= {1,2,3,4,5,6,7}
print(sum(s))
print(len(s))
print(min(s))
print(max(s))
print(sorted(s,reverse = True)

SyntaxError: incomplete input (1712254545.py, line 7)

In [48]:
# union / update , in union we have to declare union to be stored in other variable
s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}
print(s1.union(s2))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9}

In [50]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
# frozen set to make set immutable
fs1 = frozenset([1,2,3])
print(fs1)

frozenset({1, 2, 3})

In [43]:
# add update cannot be performed
# all read function work but write dont work
fs1 = frozenset([1,2,3,4,[]])

TypeError: unhashable type: 'list'